# Gradle files
.gradle/
build/
gradle-7.5/
gradle-7.5-bin.zip
gradle-8.4/
gradle-8.4-bin.zip

# Local properties
local.properties

# Android Studio
*.iml
.idea/
captures/
.externalNativeBuild/
.cxx/

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json
